<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121356826295-6pdsdr2idjsc64lked4lmbhdpkuq8u5l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121356826295-6pdsdr2idjsc64lked4lmbhdpkuq8u5l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>121356826295-jejht09v4rhm1v1v0k6v1eb5dfiogcaa.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBvkDamaKsj1PUoHRNkmxhFNX5K27jBgH8</string>
	<key>GCM_SENDER_ID</key>
	<string>121356826295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pongo.donkomireactnative</string>
	<key>PROJECT_ID</key>
	<string>donkomi-dev-7c62b</string>
	<key>STORAGE_BUCKET</key>
	<string>donkomi-dev-7c62b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121356826295:ios:351021b6ccc509fbb87f32</string>
</dict>
</plist>